@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  text-align: center;
}

header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(8deg, #fedad4 43%, rgba(173, 252, 186, 0.81) 30%);
}

header p {
  font-family: 'CoreCircus', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  height: 40px;
  color: white;
  text-shadow: 2px 2px #9d9d9d;
  -webkit-animation: myfirst 4s linear 1s infinite alternate;
          animation: myfirst 4s linear 1s infinite alternate;
}

@-webkit-keyframes myfirst {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
  25% {
    background-color: #3700ff;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
  100% {
    background-color: yellow;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
}

@keyframes myfirst {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
  25% {
    background-color: #3700ff;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
  100% {
    background-color: yellow;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
}

h3 {
  visibility: hidden;
}

button {
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  font-size: 20px;
  background-color: white;
  color: #ffc2c2;
  border: none;
  border-radius: 40px;
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
  text-transform: uppercase;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: 0 3px #666;
          box-shadow: 0 3px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main {
  margin: auto;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50px;
}

figure:first-of-type {
  width: 100%;
  max-width: 100%;
  background-color: #fff1f3;
  font-size: 20px;
  padding: 40px;
}

figure img {
  width: 400px;
  display: block;
  margin-right: 10px;
  padding: 20px;
}

figure a:hover {
  cursor: hand;
}

figcaption {
  text-align: left;
  max-width: 500px;
}

.horoback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  background-color: #ffe1e7;
}

.bio {
  max-width: 500px;
}

.horobio {
  max-width: 500px;
}

.collage {
  min-width: 500px;
}

.headshot {
  margin: 5px 5px 5px;
  border-radius: 30px;
}

.horoscope {
  padding-top: 40px;
  margin-top: -100px;
  text-align: center;
}

.projects {
  padding-bottom: 20px;
}

h1 {
  font-family: 'CoreCircus', sans-serif;
  text-transform: uppercase;
  margin: 20px;
  margin-left: 1px;
  font-size: 4vw;
  text-align: left;
  position: relative;
  color: #f98ca4;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283, 2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283, 2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283, 5px 4px 0px #65f283, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px 10px 4px #dac249;
}

h1:after, h1:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 5;
}

h1:before {
  text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c, 1px 1px 0 #9e132c, 1px 0px 0px #f5b10b, 0px 1px 0px #f5b10b, 2px 1px 0px #f5b10b, 1px 2px 0px #f5b10b, 3px 2px 0px #f5b10b, 2px 3px 0px #f5b10b, 4px 3px 0px #f5b10b, 3px 4px 0px #f5b10b, 5px 4px 0px #f5b10b, 3px 5px 0px #9e132c, 6px 5px 0px #9e132c, -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0px #9e132c, 2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0px #9e132c, 6px 3px 0 #9e132c, 7px 4px 0 #9e132c, 10px 10px 4px rgba(106, 241, 119, 0.8);
  color: #65f283;
  height: 66%;
}

h1:after {
  height: 33%;
  color: #4ad9db;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #f98ca4, 2px 1px 0px #f98ca4, 1px 2px 0px #f98ca4, 3px 2px 0px #f98ca4, 2px 3px 0px #f98ca4, 4px 3px 0px #f98ca4, 3px 4px 0px #f98ca4, 5px 4px 0px #f98ca4, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
}

@font-face {
  font-family: 'CoreCircus2DDot1';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CoreCircus';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CoreCircusPierrot4';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.ttf") format("truetype");
}

.slide-container {
  padding-top: 30px;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

* {
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  /*   background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

body h1 {
  text-align: center;
}

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  -webkit-animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

a.btn-social,
.btn-social {
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 4px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  width: 54px;
}

.btn-social .fa, .btn-social i {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: scale(1);
  transition: all .25s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  -webkit-transition: all .25s;
}

.btn-social:hover, .btn-social:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.btn-social.btn-xs {
  font-size: 9px;
  height: 24px;
  line-height: 13px;
  margin: 6px 2px;
  width: 24px;
}

.btn-social.btn-sm {
  font-size: 13px;
  height: 36px;
  line-height: 18px;
  margin: 6px 2px;
  width: 36px;
}

.btn-social.btn-lg {
  font-size: 22px;
  height: 72px;
  line-height: 40px;
  margin: 10px 6px;
  width: 72px;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #4c70ba;
}

.btn-github {
  background-color: #4183c4;
}

.btn-github:hover {
  background-color: #689cd0;
}

.btn-linkedin {
  background-color: #0976b4;
}

.btn-linkedin:hover {
  background-color: #0b96e5;
}

.btn-twitter {
  background-color: #55acee;
}

.btn-twitter:hover {
  background-color: #83c3f3;
}

.chart,
.horoback {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff1f3;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 20px;
}

.horoscope p {
  max-width: 500px;
  text-align: left;
}

.chart {
  background-color: white;
  border-radius: 20px;
  padding-top: 12px;
}

footer {
  margin-top: 100px;
  padding: 5px;
  color: black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 320px) {
  figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header p {
    height: 5px;
    padding-top: 8px;
  }
  figure img {
    width: 200px;
    display: block;
    margin-right: 10px;
    padding: 20px;
  }
}

@media screen and (max-width: 769px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  figure img {
    width: 300px;
  }
  .bio {
    text-align: center;
  }
  .projects,
  .horoscope {
    padding: 20px;
  }
  h1 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 1500px) {
  header p {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */